version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "ci/cd"
      - "dependencies"
  - package-ecosystem: "npm"
    directory: "/developer/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
