[flake8]
count = true
max-line-length = 110
max-function-length = 110
show_source = True
statistics = True

# Mostly taken from the flake8 documentation
ignore =
    # F812: list comprehension redefines ...
    F812,
    # H101: Use TODO(NAME)
    H101,
    # H202: assertRaises Exception too broad
    H202,
    # H233: Python 3.x incompatible use of print operator
    H233,
    # H301: one import per line
    H301,
    # H306: imports not in alphabetical order (time, os)
    H306,
    # H401: docstring should not start with a space
    H401,
    # H403: multi line docstrings should end on a new line
    H403,
    # H404: multi line docstring should start without a leading new line
    H404,
    # H405: multi line docstring summary not separated with an empty line
    H405,
    # H501: Do not use self.__dict__ for string formatting
    H501
    # T101: Fix todos
    T101
    # E402: module level import not at top of file
    E402
    # CFQ002: Function has 7 arguments that exceeds max allowed 6
    CFQ002
    # CFQ004: Function has 8 retuns that exceeds max allowed 3
    CFQ004
    # E722: do not use bare 'except'
    E722
    # W503: line break before binary operator
    W503

per-file-ignores =
    # imported but unused
    __init__.py: F401, F403, W291

exclude =
    .git,
    .idea,
    .vs,
    .vscode,
    __pycache__,
    docs,
    build,
    dist,
    venv,
    breaking,
    .github,

accept-encodings = utf-8
max-complexity = 19
docstring-convention = numpy