include README.rst
include LICENSE
include requirements.txt
include pycord/bin/*.dll
include pycord/py.typed
include pycord/banner.txt

prune .github
prune docs
prune examples
prune tests
exclude pycord/bin/COPYING
exclude .flake8
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .prettierrc
exclude .readthedocs.yml
exclude CHANGELOG.md
exclude FUNDING.yml
exclude requirements-dev.txt
