# used to communicate to Discord's REST and Gateway API via HTTP & WebSockets
aiohttp~=3.8
# used for colored logging and the colored banner
colorlog~=6.7
# used for enumerate objects
fastenum~=1.0.4
# extensions for the typing module
typing-extensions~=4.4.0