:root > * {
    --md-primary-fg-color:        #2C2F33;
    --md-primary-fg-color--light: #fff;
    --md-primary-fg-color--dark:  #23272A;
    --md-primary-bg-color: #fff;
    --md-default-fg-color: #fff;
    --md-default-bg-color: #23272A;
    --md-typeset-color: #fff;
    --md-default-fg-color--light: #fff;
    --md-footer-bg-color--dark: #2C2F33;
}