:root > * {

    /* Default Shades */
    --md-default-fg-color: #FFFFFF;
    --md-default-fg-color--light: #FFFFFF;
    --md-default-bg-color: #23272A;
    --md-default-bg-color--light: #424A50;

    /* Primary Shades */
    --md-primary-fg-color: #2C2F33;
    --md-primary-fg-color--light: #4C5259;
    --md-primary-fg-color--dark: #25272B;
    --md-primary-bg-color: #FFFFFF;

    /* Code Shades */
    --md-code-fg-color: #E2E4F1;
    --md-code-bg-color: #191919;

    /* Typeset Shades */
    --md-typeset-color: #FFFFFF;
    --md-typeset-a-color: #FFFFFF;

    /* Footer Shades */
    --md-footer-bg-color--dark: #2C2F33;

}